
  
 .banner-container {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    overflow: hidden;
  }
  
  .banner-image {
    width: 20%;
    height: 20px; /* Adjust height here */
    object-fit: cover; /* Ensures image fits nicely */
    display: block;
  }
  
  